{% extends "app/base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'app/styles.css' %}">
{% endblock %}
{% block content %}
    <nav>
        <div class="dashboard"><a class="logout-button" href="{% url 'home' %}">Home</a></div>
        <div class="auth">
            <a href="{% url 'logout' %}">Log Out</a>
        </div> 
    </nav>
    <div style="background-color: white; height: 80%;">
        <table>
            <tr>
                <th>horizontal spatial coordinate</th>
                <th>vertical spatial coordinate</th>
                <th>ffmc index</th>
                <th>dmc index</th>
                <th>isi</th>
                <th>temperature</th>
                <th>relative humidity</th>
                <th>wind</th>
                <th>rain</th>
                <th>area</th>
            </tr>
            {% for prediction in predictions %}
            <tr>
                <td>{{prediction.modelInput.horizontalSpatialCoordinate}}</td>
                <td>{{prediction.modelInput.verticalSpatialCoordinate}}</td>
                <td>{{prediction.modelInput.ffmcIndex}}</td>
                <td>{{prediction.modelInput.dmcIndex}}</td>
                <td>{{prediction.modelInput.dcIndex}}</td>
                <td>{{prediction.modelInput.isi}}</td>
                <td>{{prediction.modelInput.temperature}}</td>
                <td>{{prediction.modelInput.relativeHumidity}}</td>
                <td>{{prediction.modelInput.rain}}</td> 
                <td>{{prediction.area}}</td> 
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}