<html>
<head>
 <title>Make Prediction</title>
</head>
<body>
   <nav style="display: flex; padding: 2px;">
      {% if user.username %}
          <a class="logout-button" href="{% url 'logout' %}">Log Out</a>
      {% else %}
          <a class="logout-button" href="{% url 'login' %}">Log In</a>/
          <a class="logout-button" href="{% url 'signup' %}">Sign up</a>
      {% endif %}
  </nav>

   <form action="" method="post">
      {% csrf_token %}
      <span >Horizontal Spatial Coordinate :</span>
      <input type="number" name="x-coordinate" required><br><br>
      <span >Vertical Spatial Coordinate :</span>
      <input type="number" name="y-coordinate" required><br><br>
      <span >FFMC Index :</span> 
      <input type="number" name="ffmc" required><br><br>
      <span style="left:-120px;">DMC Index :</span>
      <input type="number" name="dmc" required><br><br>
      <span style="left:-130px;">DC Index :</span>
      <input  type="number" name="dc" required><br><br>                    
      <span >ISI Index :</span>
      <input type="number" name="isi" required><br><br>
      <span  style="left:-150px;">Temperature :</span>
      <input type="number" name="temperature" required><br><br>
      <span style="left:-150px;">Relative Humidity :</span>
      <input type="number" name="rh" required><br><br>
      <span style="left:-150px;">Wind :</span>
      <input type="number" name="wind" required><br><br>
      <span style="left:-150px;">Rain :</span>
      <input type="number" name="rain" required><br><br>
      <button>Submit</button>
  </form>
  {% if not result %}
    <p>Area: </p>
  {% else %}
    {% for res in result %}     
    <p>Predicted: {{res.area}}</p>
    {% endfor %}
    <a href="{% url 'result' result %}">Save</a>
 {% endif %}
</body>
</html>